.github-signup-button {
  background-color: rgb(46, 164, 79);
  color: white;
  height: 34px;
  width: 92px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}