p {
  font-family: 'Arial', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.profile-card {
  display: inline-block;
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
}

.profile-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.info {
  padding: 12px 8px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.friends>img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: right;
  margin-bottom: 12px;
  border-radius: 15px;
  vertical-align: middle;
  margin-right: 4px;
}

.friends>p {
  display: inline-block;
  color: rgb(100, 100, 100);
  margin-bottom: 12px;
  vertical-align: middle;
}

.add-friend-button {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}