p {
  font-family: 'Arial', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.youtube-music-box {
  background-color: rgb(33, 33, 33);
  padding: 20px 15px;
  width: 400px;
}

.title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  color: rgb(160, 160, 160);
}
