div {
  text-align: center;
}

.logo {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-bar {
  font-size: 16px;
  width: 500px;
  padding: 12px 15px;
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.search-button,
.lucky-search-button {
  border: none;
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
}

.search-button {
  margin-right: 10px;
}