p {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  margin: 0;
}

.latest-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  padding: 10px 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-radius: 6px;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home,
.notifications {
  margin-bottom: 16px;
}

.number {
  padding: 3px 12px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(49, 109, 245);
  color: white;
  border-radius: 20px;
}