.back-to-amazon-link {
  color: rgb(0, 113, 133);
  font-weight: 600;
  transition: color 0.1s;
}

.back-to-amazon-link:hover {
  color: rgb(192, 128, 10);
}

.product-title {
  font-size: 26px;
  font-weight: bold;
}

.price-tag {
  color: rgb(0, 118, 0);
  font-weight: bold;
}

.amazon-button {
  height: 32px;
  width: 124px;
  border: none;
  border-radius: 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.add-cart-button {
  background-color: rgb(255, 216, 20);
  margin-right: 4px;
  transition: background-color 0.15s
}

.add-cart-button:hover {
  background-color: rgb(240, 203, 19);
}

.add-cart-button:active {
  opacity: 0.7;
}

.buy-now-button {
  background-color: rgb(255, 164, 28);
  transition: background-color 0.15s;
}

.buy-now-button:hover {
  background-color: rgb(233, 144, 12);
}

.buy-now-button:active {
  opacity: 0.7;
}