body {
  height: 3000px;
}

.close-button {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 500;
  background-color: black;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}