html {
  font-family: 'Roboto', serif;
  font-style: normal;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 57px;
  padding-left: 72px;
  line-height: 1.5;
}

@media (width > 1200px) {
  body {
    padding-left: 240px;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  height: 200px;
}